<hr>
Original term:
<span class="labelOriginal"></span>
<br>
Replacement term:
<span class="labelReplacement"></span>
<br>
<span class="labelCaseIsensitive">Case-insensitive<br></span>
<input
  type="hidden"
  name="boardUri"
  class="boardIdentifier">

<input
  type="hidden"
  class="filterIdentifier"
  name="filterIdentifier">
<input
  type="submit"
  value="Delete"
  class="deleteFormButton">
<input
  type="button"
  style="display: none;"
  value="Delete"
  class="deleteJsButton">