<div class="innerPost">
  <input
    type="checkbox"
    class="deletionCheckBox">
  <span class="labelSubject"></span> <a class="linkName"></a> <img
    class="imgFlag"> <span class="labelRole"></span> <span
    class="labelCreated"></span> <span class="spanId"> Id: <span
    class="labelId"></span>
  </span> <a class="linkPreview">[Preview]</a> <a class="linkSelf">No.</a> <a
    class="linkQuote"></a> <a class="linkEdit">Edit</a> <span class="panelIp">
    <br> Ip range: <span class="labelRange"> </span> <br> Ip: <span
    class="labelIp"></span>
  </span>
  <br>
  <span class="panelProxyIp"> Proxy IP: <span class="labelProxyIp"></span>
  </span>
  <div class="panelUploads"></div>
  <div class="divMessage" /></div>
  <div class="contentOmissionIndicator">
    Message too long. Click <a class="linkFullText">here</a> to view full text.
  </div>
  <div class="divBanMessage"></div>
  <div class="labelLastEdit"></div>
  <br>
</div>
